@import "utilities/variables";
@import "utilities/mixins";
@import "partials/index";

*{
    @include reset;
}

header{
    text-align: center;
}

h1{
    @include titulos;
    font-size: 45px;
    opacity: 150%;
    font-weight: bolder;
    color: $color-principal;
    padding: 0px;
}

h2{
    @include titulos;
    font-size: 35px;
    color: $color-principal;
}

body{
    background-color: rgb(255, 220, 149);
}

/* ESTILOS MENU */

.navbar{
    background-color: $color-fondo;
    
}

.dropdown-menu{
    background-color: $color-fondo;
}

/* ESTILOS FOOTER */

.piePagina ul li a{
    list-style-type: none;
    text-decoration: none;
    color: $color-principal;
}

footer{
    text-align: center;
    color: $color-principal;
}