@import "utilities/variables";
@import "utilities/mixins";
*{
    @include reset;
}

header{
    text-align: center;
}

h1{
    @include titulos;
    font-size: 45px;
    opacity: 150%;
    font-weight: bolder;
    color: $color-principal;
    padding: 0px;
    display: flex;
    justify-content: center;
}

h2{
    @include titulos;
    font-size: 35px;
    color: $color-principal;
    display: flex;
    justify-content: center;
}

body{
    background-image: url(../img/imgFondo.jpeg);
}

.navbar-toggler{
    background-color: #180c0ac3;
}


/* ESTILOS MENU */

.navbar{
    background-color:#180c0ac3 ;
    color: $color-principal;
}

.dropdown-menu{
    background-color: $color-fondo;
}

.navbar-nav{
    color: $color-principal;
}


@import "partials/index";
@import "partials/quienesSomos";
@import "partials/footer";
@import "partials/tienda";
@import "partials/copas";
@import "partials/contacto";
@import "partials/indumentaria";
@import "partials/registro";
@import "partials/preguntas.scss"