.tituloContacto{
    text-align: center;
    color: $color-principal;
}

.subtituloContacto{
    text-align: center;
    color: $color-principal;    
}

.formulario{
    padding: 10px;
    color: $color-principal;
    text-align: center;
    display: flex;
    justify-content: center;
    grid-area: formulario;
}

.entrada{
    width: 100%;
    background-color: white;
    padding: 10px;
    margin-top: 5px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid black;
    font-family: 'Akshar', sans-serif;
}

.mapa{
    display: none;
}

@media screen and(min-width:720px) {
    .contactoForm{
        display: grid;
        grid-template-areas: "formulario formulario mapa"
                            "formulario formulario mapa";
        justify-content: center;
    }
    
    .mapa{
        display: flex;
        justify-content: center;
        grid-area: mapa;
        align-self: center;
        margin: 20px;
        padding: 20px;
    }
}