/* ESTILOS FOOTER */

.piePagina{
    display: grid;
    grid-template-areas:"imgFooter"
                        "imgFooterDos";
    height: auto;
    min-height: 30vh;
    align-items: center;
    bottom: 0;
}

.imgFooter{
    grid-area: imgFooter;
}

.imgFooterDos{
    grid-area: imgFooterDos;
}

.parrafoFooter{
    display: none;
}

.parrafoFooterDos{
    display: none;
}

.piePagina ul li a{
    list-style-type: none;
    text-decoration: none;
    color: $color-principal;
}

.madeBy{
    grid-area: madeBy;
}

footer{
    text-align: center;
    color: $color-principal;
}

@media screen and (min-width:720px){
    .piePagina{
        grid-template-areas:"imgFooter imgFooterDos"
                            "parrafoFooter parrafoFooter"
                            "parrafoFooterDos parrafoFooterDos"
                            "madeBy madeBy";
        height: auto;
        column-gap: 1rem;
        justify-content: center;
    }

    .piePagina ul li{
        padding: 10px;
        justify-content: center;
    }

    .parrafoFooter{
        display: flex;
        grid-area: parrafoFooter;
    }

    .parrafoFooterDos{
        grid-area: parrafoFooterDos;
        display: flex;
    }
}

@media screen and (min-width:1280px){
    .piePagina{
        grid-template-areas:"imgFooter" 
                            "imgFooterDos"
                            "parrafoFooter"
                            "parrafoFooterDos"
                            "madeBy";
        height: auto;
        column-gap: 1rem;
    }

    .parrafoFooter{
        grid-area: parrafoFooter;
    }

    .parrafoFooterDos{
        grid-area: parrafoFooterDos;
    }
}

