.indumentaria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-items: center;
    margin: 40px 80px;
}

.indumentaria-img{
    width: 200px;
    height: 250px;
    transition: all 0.1s;
}

.indumentaria-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ind1{
    grid-area: ind1;
}

.ind2{
    grid-area: ind2;
}

.ind3{
    grid-area: ind3;
}

.ind4{
    grid-area: ind4;
}