.quienesSomos{
    display: grid;
    grid-template-areas:"titulo titulo"
                        "parrafo parrafo"
                        "parrafo parrafo";
    height: auto;
    text-align: center;
}

.tituloFamiliar{
    @include titulos;
    grid-area: titulo;
    padding: 5px;
    margin: 5px;
    text-align: center;
}

.historiaFamiliar{
    grid-area: parrafo;
    text-align: center;
    padding: 10px;
}

.video{
    display: none;
}

@media screen and (min-width:720px){
    .quienesSomos{
        grid-template-areas:"titulo titulo"
                            "parrafo parrafo"
                            "video video";
        
    }

    .video{
        grid-area: video;
        display: flex;
        justify-content: center;
        padding-right: 10px;
    }
}

@media screen and (min-width:1280px){
    .quienesSomos{
        grid-template-areas:"titulo titulo video video"
                            "parrafo parrafo video video";
        height: auto;
        width: auto;
        row-gap: 1rem;
    }

    .video{
        margin-top: 10px;
        padding-top: 10px;
        grid-area: video;
    }
}
