.iniciarSesion{
    text-align: center;
}

.iniciarSesion{
    padding: 10px;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
}

.entrada{
    width: 100%;
    background-color: white;
    padding: 10px;
    margin-top: 5px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid black;
    font-family: 'Akshar', sans-serif;
}

.registrarse{
    text-align: center;
}

.tituloIniciarSesion{
    text-align: center;
}

.formularioRegistro{
    padding: 10px;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
}

.entrada{
    width: 100%;
    background-color: white;
    padding: 10px;
    margin-top: 5px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid black;
    font-family: 'Akshar', sans-serif;
}

@media screen and(min-width:720px){
    .inicioSesion{
        display: grid;
        grid-template-areas: "iniciarSesion formularioRegistro"
                            "iniciarSesion formularioRegistro";
    }
    
    .iniciarSesion{
        grid-area: iniciarSesion;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }
    
    .formularioRegistro{
        grid-area: formularioRegistro;
    }
}